[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-phonenumber-field = "*"
pillow = "*"
pylint = "*"
django = "*"
autopep8 = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
phonenumbers = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
